
.has-search .form-controls {
    padding-left: 2.375rem;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }

  .padding-0{
    padding-right:0;
    padding-left:0;
}